:root {
  --gray-0: #7E7E7E;
  --gray-1: #8b8b8b;
  --gray-2: #979797;
  --gray-3: #A4A4A4;
  --gray-4: #B1B1B1;
  --gray-5: #BDBDBD;
  --gray-6: #CACACA;
  --gray-7: #D7D7D7;
  --gray-8: #E3E3E3;
  --gray-9: #F0F0F0;
}
